/* Style the navigation menu */
.bg {
 width: 100%;
 background-size: cover;
 background-repeat: no-repeat;
 position: absolute;
 z-index: -1;
}

.h1{
  text-align: center;
  color: #FBF8F9;
}


.navbar {
  width: 100%;
  background-color: #555;
  overflow: hidden;
  position: fixed;
  top: 0;
}


/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #3360FF;
}

/* Style the current/active link */
.navbar a.active {
  background-color: #F10B38;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

.p1{
  color: orange;
  font-weight: bold;
  font-family: Georgia;
}

.p2{
  color: #F8F8FB;
}

#more{display: none;}

#myBtn1 {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn1:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}